@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a class="marquee col-lg mr-2">
                <span>
                    When I had journeyed half of our life's way, I found myself
                    within a shadowed forest, for I had lost the path that
                    does not stray. – (Dante Alighieri, <i>Divine Comedy</i>.
                    1265-1321)
                </span>
            </a>
            <a class="col-sm">@theDate @theTime</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{

    string theDate;
    string theTime;
    Timer aTimer;

    protected override void OnInitialized()
    {
        aTimer = new Timer(Tick, null, 0, 60*1000);
    }

    private void Tick(object _)
    {
        DateTime now = DateTime.Now;
        theTime = now.ToLocalTime().ToShortTimeString();
        theDate = now.ToLongDateString();
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        aTimer?.Dispose();
    }
}