@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a>@theDate @theTime</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{

    string theDate;
    string theTime;
    Timer aTimer;

    protected override void OnInitialized()
    {
        aTimer = new Timer(Tick, null, 0, 60*1000);
    }

    private void Tick(object _)
    {
        theTime = DateTime.Now.ToLocalTime().ToShortTimeString();
        theDate = DateTime.Now.ToLongDateString();
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        aTimer?.Dispose();
    }
}